.startScreen {
  width: 50%;
}
.startScreen p {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 0.7rem 2rem;
  color: var(--navy-dark);
}
.startScreen a {
  text-decoration: none;
}
