.header {
  display: flex;
  padding: 3rem 7rem;
}
.justifyBetween {
  justify-content: space-between;
}
.justifyEnd {
  justify-content: flex-end;
}
.title {
  display: flex;
  flex: 1;
}
.themeSwitch {
  display: flex;
  margin-right: 10px;
}
.themeSwitch img {
  width: 20px;
  height: 20px;
}
